@media screen and (min-width: 507px){

    .fix{
        position: fixed;
    }

    body{
        margin: 0px;
    }

    .nav-bar{
        display: flex;
        height: 77px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f6f9;
        position: fixed;
    }

    .host-name{
        height: 50px;
        width: 100px;
        padding-left: 20px;   
    }

    .upload-btn{
        background-color: #dad6d3;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 30px;
    }

    .nav-bar a{
        text-decoration: none;
        color: rgb(53, 48, 48);
    }

    .wide-image{
        width: 100%;
        object-fit: contain;
    }

    .home-head{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(66, 65, 65);
    }

    .gallery-list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 1cm;    
    }

    .thumbnail-image{
        width: 200px;
        height: 150px;
    }

    .thumbnail{
        width: 230px;
        height: 170px;
    }

    .heading-text{
        color: rgb(66, 65, 65);
        font-family: Arial, Helvetica, sans-serif;
    }

    #pk{
        display: none;
    }

    .video-detail{
        margin: 30px;
    }

    .video-detail h1{
        color:  rgb(66, 65, 65);
        font-family: Arial, Helvetica, sans-serif;
    }

    .video-detail p{
        width: 750px;
        color:  rgb(66, 65, 65);
        font-family: Arial, Helvetica, sans-serif;
    }

    .video-tag{
        width: 80vw;
        height: 60vw;
        max-width: 760px;
        max-height: 570px;
    }

    .all-comments{
        display: flex;
        flex-direction: column;
    }

    .comment-block{
        min-height: 30px;
        min-width: 30vw;
        max-width: 800px;
        background-color: #f4f4f4;
        margin: 10px;
        border-radius: 20px;
    }

    .comment-block p{
        width: 837px;
    }

    .comment-user{
        padding-top: 20px;
        padding-left: 20px;
    }

    .single-comment {
        padding-left: 50px; 
        padding-bottom: 10px;
        word-wrap: break-word;
    }

    #comment-btn{
        margin-left: 80px;   
    }

    #post-form input{
        width: 500px;
        height: 100px;
    }

    #upload-form{
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 77px;
    }

    #upload-form label{
        font-family: Arial, Helvetica, sans-serif;
        color:  rgb(66, 65, 65);
    }

    #id_title{
        margin-left: 60px;
        width: 300px;
        border-radius: 3px;
        padding: 4px;
    }

    #id_description{
        margin-left: 10px;
        width: 300px;
        padding: 4px;
        border-radius: 3px;
        height: 50px;
    }

    #id_video_url{
        margin-left: 97px;
    }
}

@media screen and (max-width: 507px){
    .fix{
        position: fixed;
    }
    body{
        margin: 0px;
    }
    .nav-bar{
        display: flex;
        height: 77px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f6f9;
        position: fixed;
    }
    .host-name{
        height: 50px;
        width: 100px;
        padding-left: 20px;   
    }

    .upload-btn{
        background-color: #dad6d3;
        border: none;
        color: black;
        min-width: 3vw;
        max-width: 4vw;
        padding: 15px 12vw;
        text-align: center center;
        text-decoration: none;
        display: inline-block;
        font-size: 2.5vw;
        margin-right: 30px;
    }

    .nav-bar a{
        text-decoration: none;
        color: rgb(53, 48, 48);
    }

    .wide-image{
        width: 100%;
        object-fit: contain;
    }

    .home-head{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(66, 65, 65);
        margin-left: 20px;
    }

    .gallery-list{
        margin-left: 7vw;
    }

    .gallery{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 3.8vw;  
        margin-bottom: 13vh;
    }

    .thumbnail-image{
        width: 80vw;
        height: 64vw;
    }

    .thumbnail{
        width: 80vw;
        height: 58vw;
    }

    .heading-text{
        color: rgb(66, 65, 65);
        font-family: Arial, Helvetica, sans-serif;
    }

    #pk{
        display: none;
    }

    .video-detail{
        margin: 30px;
    }

    .video-detail p{
        width: 750px;
        color:  rgb(66, 65, 65);
        font-family: Arial, Helvetica, sans-serif;
    }

    .all-comments{
        display: flex;
        flex-direction: column;
    }

    .comment-block{
        min-height: 30px;
        width: 80vw;
        background-color: #f4f4f4;
        margin: 10px;
        border-radius: 20px;
    }

    .comment-block p{
        width: 60vw;
    }

    .comment-user{
        padding-top: 20px;
        padding-left: 20px;
    }

    .single-comment {
        padding-left: 50px; 
        padding-bottom: 10px;
        word-wrap: break-word;
    }

    #comment-btn{
        margin-left: 80px;   
    }

    .video-tag{
        width: 88vw;
        height: 66vw;
    }

    .video-detail h1{
        font-family: Arial, Helvetica, sans-serif;
        color:  rgb(66, 65, 65);
    }

    #upload-form{
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 77px;
    }

    #id_title{
        margin-left: 43.5px;
        border-radius: 3px;
        width: 255.5px;
        padding: 1.5px;
    }

    #id_description{
        height: 50px;
        border-radius: 3px;
        padding: 2px;
    }

    #id_video_url{
        margin-left: 83px;
    }
}
