{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1 id = 'pk'>{{ object.pk }}</h1><br>
    <div class = 'video-detail'>
        <video width="760" height="570" controls autoplay muted='muted' class = 'video-tag'>
            <source src= "{{ MEDIA_URL }}{{ object.video_url }}" type="video/mp4"z>
        </video>
        <h1>{{ object.title }}</h1>
        <p>{{ object.description }}</p>
        <hr>
        
        <div id = 'all-comments'>
            {% for comment in comments %}
                <div class = 'comment-block'>
                    <p class = 'comment-user'><strong>{{ comment.user.username }}</strong></p>
                    <p class = 'single-comment'>{{ comment.comment }}</p>
                </div>
            {% empty %}
                <!-- <p>No comments yet.</p> -->
            {% endfor %}
        </div>
        <hr>
        <form method="post" enctype="multipart/form-data" id = 'post-form'>
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="add comment" id='comment-btn'>
        </form>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script>
    $('#post-form').on('submit' , function(event){
        event.preventDefault();
        console.log('haa just submitted');
        create_post()
    })
    let pk = $('#pk').text()
    function create_post(){
        console.log('haa just entered create post')
        console.log($('#post-form').val())
        $.ajax({
            url : String(pk),
            type : "POST",
            data : {comment : $('#id_comment').val()},
            success: function(json){
                $('#post-form').val('')
                console.log('entered success function')
                console.log(json)
                $('#all-comments').prepend("<div class = 'comment-block'> <p class = 'comment-user'><strong>"+json.author+"</strong></p>"+"<p class = 'single-comment'>"+json.comment_text+"</p> </div>")
                console.log("success")
            }
        })
    }
    
</script>

<script>
    $(function() {


    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    });
</script>

{% endblock %}
