{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class = 'home-image'>
        <img src="{% static 'images/home-image.jpg' %}" alt="home-image" class = 'wide-image'>
    </div>

    <h1 class = 'home-head'>Videos</h1>
    <!-- <ul>
    {% for video in object_list %}
        <li>{{ video.title }}</li>
        <li>{{ video.video_url }}</li>
    {% empty %}
        <li>No videos yet.</li>
    {% endfor %}
    </ul> -->
    <div class = 'gallery-list'>
    {% for video in object_list %}
        <div class = 'gallery'>
            <div class = 'thumbnail'>
                <a href="{% url 'video-detail' video.id %}" >
                    <img src="{% static 'images/vid4.jpg' %}" alt="Cinque Terre" class = 'thumbnail-image'>
                </a>

                <div class = 'heading'>
                    <div>
                        <strong class = 'heading-text'>{{ video.title }}</strong><br>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h3>No videos yet</h3>
    {% endfor %}
    </div>
{% endblock %}
