{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Youtube</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
</head>
<body>
    <div class = 'fix-fix'>
        <div class = 'nav-bar'>
            <div class = 'host-name'>
                <img src="{% static 'images/youtube-logo.png' %}" alt="youtube-log" class = 'host-name'>
            </div>
            <div class = 'upload'>
                <button class = 'upload-btn'><a href="{% url 'video-upload' %}">Upload Video</a></button>
            </div>
        </div>   
    </div>
    {% block content %}
    
    {% endblock content %}
</body>
</html>